apiVersion: v1
kind: Service
metadata:
  name: {{ include "laa-court-data-adaptor.fullname" . }}
  labels:
    {{- include "laa-court-data-adaptor.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: metrics
  selector:
    {{- include "laa-court-data-adaptor.selectorLabels" . | nindent 4 }}
