---
http_interactions:
- request:
    method: post
    uri: https://maat-cd-api-dev.auth.eu-west-2.amazoncognito.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-amz-cognito-request-id:
      - af200f6b-f16d-4af8-8884-0194df60aba9
      x-application-context:
      - application:prod:8443
    body:
      encoding: UTF-8
      string: '{"access_token":"<access_token>","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Mon, 28 Sep 2020 16:46:23 GMT
- request:
    method: post
    uri: https://maat-cd-api.dev.legalservices.gov.uk/link/validate
    body:
      encoding: UTF-8
      string: '{"maatId":5635424,"caseUrn":"XYZ"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      apigw-requestid:
      - Tlf26jYirPEEMfg=
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Sep 2020 16:46:23 GMT
recorded_with: VCR 6.0.0
