name: Brakeman

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: ruby/setup-ruby@v1
    - run: gem install brakeman --version 6
    - run: brakeman
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
